.home-bg {
  background-color: #152850;
  height: 100vh;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: transparent;
  padding: 10px 30px 10px 30px;
}
.website-logo {
  height: 90%;
}
.home-heading {
  color: #ffffff;
  font-size: 50px;
}
.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.card-img {
  max-width: 500px;
}
.logout-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  outline: none;
}
